*{
  transition: transform 0.5s ease;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #030013;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}
.user {
  text-align: center;
  color: white;
  font-size: 3vw;
  text-shadow: 0 0 40px rgba(157, 96, 212, 0.7);
  font-family: "Noto Sans", sans-serif;
  /* font-family: "Sixtyfour", monospace; */
  /* Typewriter effect */
  text-align: center; /* Center the text */
  overflow: hidden; /* Ensure the text doesn't overflow its container */
  /* white-space: nowrap; Prevent the text from wrapping */
  /* border-right: 2px solid white; Create the typing cursor effect */
  /* animation: typing 5s steps(40) forwards; Adjust the duration and steps as needed */
}
.user-name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 15%;
  box-shadow: 0 0 20px 5px rgba(157, 96, 212, 0.7);
  border-radius: 20px;
  border-width: 0px;
  font-size: 40px;
  background-color: rgba(157, 96, 212, 0.1);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  transition: box-shadow 0.25s ease;
}

.user-name:focus {
  outline: none;
  box-shadow: 0 0 20px 15px rgba(157, 96, 212, 0.7);
}
.color-header {
  text-align: center;
  color: white;
  font-size: 3vw;
  text-shadow: 0 0 40px rgba(157, 96, 212, 0.7);
  font-family: "Noto Sans", sans-serif;
  /* font-family: "Sixtyfour", monospace; */
  /* Typewriter effect */
  text-align: center; /* Center the text */
  overflow: hidden; /* Ensure the text doesn't overflow its container */
  /* white-space: nowrap; Prevent the text from wrapping */
  /* border-right: 2px solid white; Create the typing cursor effect */
  /* animation: typing 5s steps(40) forwards; Adjust the duration and steps as needed */
  text-shadow: 0 0 20px 5px rgba(157, 96, 212, 0.7);
  margin-bottom: 0px;
  margin-top: 15%;
}
@keyframes typing {
  from { width: 0; margin-left: auto; } /* Add margin-left: 0 to prevent initial movement */
  to { width: 100%; margin-left: auto; } /* Add margin-left: 0 to prevent final movement */
}


.user-color {
  text-align: center;
  margin-top: 3%;
}

.color {
  height: 40px;
  width: 70px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(157, 96, 212, 0.7);
  border: solid 3px transparent;
  margin: 10px;
  transition: background-color 0.15s ease;
}

.color:active {
  background-color: rgba(157, 96, 212, 0.7);
}

.color:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.user-header {
  text-align: center;
  color: white;
  font-size: 3vw;
  text-shadow: 0 0 40px rgba(157, 96, 212, 0.7);
  font-family: "Noto Sans", sans-serif;
  /* font-family: "Sixtyfour", monospace; */
  /* Typewriter effect */
  text-align: center; /* Center the text */
  overflow: hidden; /* Ensure the text doesn't overflow its container */
  /* white-space: nowrap; Prevent the text from wrapping */
  /* border-right: 2px solid white; Create the typing cursor effect */
  /*animation: typing 5s steps(40) forwards; Adjust the duration and steps as needed */
}

@keyframes typing {
  from { width: 0; margin-left: auto; } /* Add margin-left: 0 to prevent initial movement */
  to { width: 100%; margin-left: auto; } /* Add margin-left: 0 to prevent final movement */
}

.user-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 8%;
  box-shadow: 0 0 20px 5px rgba(157, 96, 212, 0.7);
  border-radius: 20px;
  border-width: 0px;
  font-size: 40px;
  background-color: rgba(157, 96, 212, 0.1);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  transition: box-shadow 0.25s ease;
}

.user-input:focus {
  outline: none;
  box-shadow: 0 0 20px 15px rgba(157, 96, 212, 0.7);
}

.join-room {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 8%;
  box-shadow: 0 0 10px 5px #22c29d;
  border-radius: 20px;
  border-width: 0px;
  font-size: 40px;
  background-color: rgba(157, 96, 212, 0.1);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 0.15s ease;
}

.join-room:active {
  background-color: #22c29d;
}

.join-room:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
